@keyframes flash {
    0% {
        opacity: 1;
    }
    35% {
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
    95% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@mixin shadow {
    font-size: 14px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    padding: 14px;
    background:#fff;
    color: #2c3f51;
    box-sizing: border-box;
    overflow-y: auto;
    white-space: pre-wrap;
    word-wrap: break-word; 
    word-break: break-all;
    cursor: text;
    
    .code_block {
        font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    }

    .code {
        margin: 0 1px;
    }

    .blank_lines {
        display: block;
    }

    .heading {
        font-weight: bold;
    }

    .link_reference_definition,
    .link 
    {
        .name {
            color: indianred;
        }
        .url {
            text-decoration: underline;
        }
        .title {
            color: rgb(105, 123, 146);
        }
    }

    .image .url {
        text-decoration: underline;
    }

    .thematic_break,
    .blockquote_unit .prefix, 
    .heading .prefix,
    .list_item .prefix,
    .list_task_item .prefix,
    .code_block .prefix,
    .code_block .suffix,
    .code,
    .keyboard,
    .code_block
        {
        color: rgb(105, 123, 146);
    }

    .hard_break {
        background-color:  rgba(255,92,92,0.3);
        border-radius: 2px;
    }

    .code_block .language {
        color: #6f43c1;
    }

    .list_task_item .check {
        color: rgb(105, 123, 146);
    }

    // inline
    .emphasis {
        font-style: italic;
    }
    .strong {
        font-weight: bold;
    }
    .strong_emphasis {
        font-style: italic;
        font-weight: bold;
    }
    .keyboard {
        font-family: Menlo;
    }

    &.focused .selected {
        background: indianred;
        position: relative;
        color: #fff;
    }
    ::selection {
        color: #fff;
        background: indianred;
    }
    
    &.napping {
        .cursor {
            animation: flash 1s infinite;
        }
    }

    .cursor {
        z-index: -1;
        display: none;
        position: absolute;
        width: 22px;
        height: 22px;
        font-weight: normal;
        font-style: normal;
        transform: translate(-50%, -3px);
    }
    &.focused .cursor.show {
        display: inline-block;
    }
}