@import './mixin-markdown';

@keyframes flash {
    0% {
        background: indianred;
    }
    35% {
        background: indianred;
    }
    40% {
        background: rgba(255,255,255,0);
    }
    95% {
        background: rgba(255,255,255,0);
    }
    100% {
        background: indianred;        
    }
}

.markdown-workspace {
    .headbar {
        background: #EEF1F3;
    }
    .workspace {
        position: relative;
        height: 600px;
        letter-spacing: normal;
        .editor {
            position: absolute;
            z-index: -1;
            left: 0;
            top: 0;
            width: 50%;
            height: 100%;
            padding: 14px;
            box-sizing: border-box;
            overflow-y: auto;
            outline: none;
            border: none;
            resize: none;
            font-family: inherit;
            font-size: inherit;
            word-break: break-all;
        }
        .minimap {
            position: absolute;
            top: 0;
            right: 0;
            padding: 8px;
            width: 50%;
            height: 100%;
            box-sizing: border-box;
            @include markdown;
            overflow: auto;
        }
        .shadow-editor {
            position: absolute;
            left: 0;
            top: 0;
            width: 50%;
            height: 100%;
            padding: 14px;
            background:#fff;
            color: #333;
            box-sizing: border-box;
            overflow-y: auto;
            white-space: pre-wrap;
            word-wrap: break-word; 
            cursor: text;
            @include github;
            
            .code_block {
                color: #6a737d;
                font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
            }

            .blank_lines {
                display: block;
            }

            .heading {
                font-weight: bold;
            }

            .link_reference_definition,
            .link 
            {
                .url {
                    text-decoration: underline;
                }
            }

            .blockquote_unit-prefix, 
            .list_item-prefix,
            .heading-prefix {
                color: #6a737d;
            }

            // inline
            .emphasis {
                font-style: italic;
            }
            .strong {
                font-weight: bold;
            }
            .strong_emphasis {
                font-style: italic;
                font-weight: bold;
            }
            .code {
                color: #6a737d;
            }

            &.focused .selected {
                background: indianred;
                position: relative;
                color: #fff;
                .cursor {
                    background: indianred;
                    position: absolute;
                    width: 1px;
                    height: 18px;
                    top: 0px;
                    left: -0.5px;
                    font-weight: normal;
                    font-style: normal;
                }
            }
            ::selection {
                color: #fff;
                background: indianred;
            }
            
            &.cursor-sleep {
                .cursor {
                    animation: flash 1s infinite;
                }
            }
        }
    }
}