@import './mixin-markdown';

@keyframes flash {
    0% {
        background: indianred;
    }
    35% {
        background: indianred;
    }
    40% {
        background: rgba(255,255,255,0);
    }
    95% {
        background: rgba(255,255,255,0);
    }
    100% {
        background: indianred;        
    }
}

.markdown-workspace {
    .headbar {
        background: #EEF1F3;
    }
    .workspace {
        position: relative;
        height: 600px;
        letter-spacing: 1px;
        .editor {
            padding: 14px;
            width: 50%;
            height: 50%;
            background: #606E7B;
            color: #fff;
            box-sizing: border-box;
            overflow: auto;
            border: none;
            resize: none;
            outline: none;
            font-size: inherit;
        }
        .minimap {
            position: absolute;
            top: 0;
            right: 0;
            padding: 8px;
            width: 50%;
            height: 100%;
            box-sizing: border-box;
            @include markdown;
            overflow: auto;
        }
        .shadow-editor {
            position: absolute;
            left: 0;
            top: 50%;
            width: 50%;
            height: 50%;
            padding: 14px;
            background:#fff;
            color: #333;
            box-sizing: border-box;
            overflow: auto;
            pre {
                font-family: inherit;
                font-size: inherit;
                cursor: text;
                @include github;
                .code_block {
                    .code_block-prefix, .code_block-suffix {
                        color: #6a737d;
                    }
                    code {
                        display: inline !important;
                        background: inherit !important;
                        padding: 0 !important;
                        font-family: "SFMono-Regular",Consolas,"Liberation Mono",Menlo,Courier,monospace !important;
                    }
                }
                
                // inline
                .emphasis {
                    font-style: italic;
                }
                .strong {
                    font-weight: bold;
                }
                .strong_emphasis {
                    font-style: italic;
                    font-weight: bold;
                }
                .code {
                    color: #6a737d;
                }

                .selected {
                    background: indianred;
                    position: relative;
                    color: #fff;
                    .cursor {
                        background: indianred;
                        position: absolute;
                        width: 1px;
                        height: 18px;
                        top: 0px;
                        left: -0.5px;
                    }
                }
                ::selection {
                    color: #fff;
                    background: indianred;
                }
            }
            pre.cursor-sleep {
                .cursor {
                    animation: flash 1s infinite;
                }
            }
        }
    }
}