@import './mixin-markdown';
@import './shadow-editor';
@import './tool-panel';


.markdown-workspace {
    height: 100%;
    overflow-x: hidden;
    .headbar {
        background: #EEF1F3;
    }
    .workspace {
        position: relative;
        height: 100%;
        letter-spacing: normal;
        .editor {
            position: absolute;
            z-index: -1;
            left: 0;
            top: 0;
            width: 0%;
            height: 100%;
            padding: 14px;
            box-sizing: border-box;
            overflow-y: auto;
            outline: none;
            border: none;
            resize: none;
            font-family: inherit;
            font-size: inherit;
            word-break: break-all;
        }
        
        .minimap {
            z-index: 1;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            width: 0%;
            padding: 0 14px;
            box-sizing: border-box;
            @include markdown;
            overflow: auto;
        }
        
        .shadow-editor {
            z-index: 1;
            width: 0%;
            @include shadow-editor;
        }
        
        &.preview {
            .minimap {
                z-index: 2;
                width: 100%;
            }
        }
        &.edit {
            .shadow-editor {
                z-index: 2;
                width: 100%;
            }
            .editor {
                width: 100%;
            }
        }
        &.live-preview {
            .minimap {
                width: 50%;
                border-left: 1px solid #eee;
            }
            .shadow-editor {
                width: 50%;
            }
            .editor {
                width: 50%;
            }
        }

        .tool-panel {
            @include tool-panel;
        }

    }
}