@import './editor/index';
@import './reader/index';

@mixin core {
    overflow-x: hidden;
    position: relative;
    .editor {
        position: absolute;
        top: 0%;
        bottom: 0%;
        left: 0%;
        @include editor;
    }
    .reader {
        position: absolute;
        top: 0%;
        bottom: 0%;
        right: 0%;
        @include reader;
    }
}