@import './editor/index';
@import './reader/index';

@mixin core {
    overflow-x: hidden;
    position: relative;
    .editor {
        height: 100%;
        @include editor;
    }
    .reader {
        height: 100%;
        @include reader;
    }
}