@import 'shadow';

@mixin editor {
    .editor { 
        position: relative;
        height: 100%;
        letter-spacing: normal;
        .source {
            position: absolute;
            z-index: 2;
            left: 50%;
            top: 0;
            width: 50%;
            height: 100%;
            padding: 14px;
            box-sizing: border-box;
            overflow-y: auto;
            outline: none;
            border: none;
            resize: none;
            font-family: inherit;
            font-size: inherit;
            word-break: break-all;
        }

        .shadow {
            z-index: 1;
            width: 100%;
            @include shadow;
        }
    }
}