@import './markdown';

.Reader {
    padding: 0 14px;
    box-sizing: border-box;
    @include markdown;
    &.scroll {
        position: relative; // 计算offsetTop需要
        overflow-y: auto;
        scroll-behavior: smooth; 
        height: 100%;
    }
}