$appbar-height: 42px;

#app {
    padding-top: $appbar-height;
    box-sizing: border-box;
}

.Appbar { 
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $appbar-height;
    line-height: $appbar-height;
    text-align: center;
    -webkit-app-region: drag;
    border-bottom: 1px solid #eee;
    .doc-title {
        position: relative;
        line-height: $appbar-height;
        &:after {
            content: "";
            position: absolute;
            top: 4px;
            right: -14px;
            display: inline-block; 
            width: 8px;
            height: 8px;
            border-radius: 4px;
            background-color: indianred;
            transform: scale(0);
            animation: zoomOut 0.4s ease-in-out;
            //transition: transform 0.4s;
        }
        &.modify-flag:after {
            transform: scale(1);
            animation: zoomIn 0.4s ease-in-out;
        } 
    }
}