.aside-tools {
    position: fixed;
    width: 64px;
    top: $appbar-height;
    right: 0;
    padding: 14px 0;
    margin: 0;
    list-style: none;
    li {
        text-align: center;
        margin: 14px 0;
    }
}