.WritePage {
    height: 100%;
    overflow: hidden;
    .wrapper-editor, .wrapper-reader {
        display: inline-block;
        vertical-align: top;
        height: 100%;
        overflow-y: auto;
    }
    &.live {
        .wrapper-editor, .wrapper-reader {
            width: 50%;
        }   
    }
    &.normal {
       .wrapper-editor {
            width: 100%;
       }
       .wrapper-reader {
            display: none;
        }  
    }
}