.editor {
    padding: 12px; 
    background-color: #F9FAFB;
}

.editable-core {
    min-height: 500px;
    background-color: #F9FAFB;
    color: rgb(49, 67, 85);
}

.markdown {
    .active {
        color: rgba(49, 67, 85, 0.712);
    }

    .emphasis {
        font-weight: 600;
    }
}
